.App {
  padding-left: 50px;
}

.btn {
  border: none;
  background-color: rgb(48, 103, 255);
  color: aliceblue;
  padding: 10px 25px;
  margin-right: 5px;
}

.btn-pdt {
  background-color: rgb(255, 207, 48);
  color: #333;
}

.btn-dlt {
  background-color: rgb(255, 48, 48);
}

.btn:hover {
  cursor: pointer;
}

.container {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  margin-left: -35px;
}

.card {
  width: 200px;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input {
  width: 300px;
  height: 28px;
}